  
  body {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    background-color: peru;
  }
  
  /*for header */
  header h1 {
    text-align: center;
    margin: 2rem;
    /* font-style: ; */
  }


  .input-label {
    display: block;
    font-size: larger;
    margin: 2rem 0px;
    font-weight: 600;
  }
  
  .input {
    background-color: rgb(0, 255, 221);  
    font-size: large;
    display: block;
    outline: #00f7ff;
    padding: 5px;
    margin: 1rem auto;
    border: 2px ;
    border-radius: 20px 10px;
    width: 100%;
    max-width: 325px;
  }
  
  
.button {
    background-color: rgb(45, 225, 231);  
    border: 2px;    
    padding:10px;
    border-radius: 50px 20px;
    font-size: x-large;

  }

  .output {
    font-size: x-large;
    font-weight: 600;
    margin: 2rem 0;
  }
  
  
  